<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "nid-cigognes"%>);">
  <div class="container">
    <h1>Woof & Roof</h1>
    <p>Plus d'un logement, une expérience.</p>
    <%= link_to "Proposer un logement", new_offer_path, class: "btn btn-ghost" %>
  </div>
</div>
