<!-- Footer -->
<footer class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="mb-0">
              <strong>S'inscrire à notre newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
             <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="form5Example24" class="form-control" placeholder="Email address" />
        </div>
      </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
              S'inscrire
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Découvrez un concept unique qui vous invite à sortir des sentiers battus ! Passez une nuit insolite dans un authentique chenil, une étable cosy, ou même une porcherie de luxe. Une expérience originale qui mêle immersion, déconnexion et retour à la simplicité, pour des souvenirs inoubliables au plus près de la nature. Osez vivre autrement, l'aventure vous attend !
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="text-center">
      <!--Grid row-->
      <div class="row justify-content-center">
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="">A propos de nous</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Notre histoire</a>
            </li>
            <li>
              <a class="text-body" href="#!">Notre équipe</a>
            </li>
            <li>
              <a class="text-body" href="#!">Nos valeurs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="">Aide</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Contact</a>
            </li>
            <li>
              <a class="text-body" href="#!">Service client</a>
            </li>
            <li>
              <a class="text-body" href="#!">CGV</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">woof-and-roof.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
