.button_general {
  width: 30%;
  padding: 12px;
  background-color: #317497;
  color: white;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
}

.button-general :hover {
  background-color: #1c455c;
}
