.search-bar-container {
  max-width: 800px;
  margin: 0 auto;
}

.search-bar {
  background-color: #ffffff;
  border: 1px solid #a79f9f;
  display: flex;
  align-items: center;
  border-radius: 50px;
}

.search-field input {
  font-size: 14px;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.search-bar .border-start {
  border-left: 1px solid #a79f9f;
  height: 24px;
}

.search-bar input:focus {
  outline: none;
  box-shadow: none;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1030; /* Assurez-vous que la navbar est au-dessus des autres éléments */
  background-color: white; /* Si nécessaire, ajustez la couleur */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optionnel : ajoutez un léger ombrage */
  transition: all 0.3s ease-in-out;
}

button.btn-danger {
  background-color: #317497;
  border: none;
}

button.btn-danger:hover {
  background-color: #1c455c;
}
